<div class="container" *ngIf="foodItems.length > 0">
    <div class="jumbotron">
        <h2>List of Food Items</h2>
    </div>
    <div class="card">
        <div class="card-body">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
               <!-- <caption align="top" style="text-align:right;">List of Food Items</caption> -->
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let foodItem of foodItems; let i=index;">
                        <td>{{ i + 1}}</td>
                        <td>{{ foodItem.id}}</td>
                        <td>{{ foodItem.name}}</td>
                        <td>{{ foodItem.type}}</td>
                        <td>{{ foodItem.price}}</td>
                        <td> <span class="pull-right">
                                <img [src]="foodItem.imagepath" alt="{{ foodItem.imagepath }}"
                                    class="imp-responsive" style="max-height: 50px;">
                            </span>
                        </td>
                        <td> <button type="button" class="btn btn-secondary me-2" (click)="updateFoodItemDetails(foodItem)" >Update</button>
                            <button type="button" class="btn btn-danger" (click)="deleteFoodItemById(foodItem.id)">Delete</button>
                         </td> 
                    </tr>
                </tbody>
            </table> 
        </div>
    </div> 
</div>
</div> 
</div>

